# Thư mục và file tạm thời của Visual Studio
.vs/
*.user
*.suo
.vs/

# Các file build
**/obj/
**/bin/
**/.vs/

/bin/

*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release

/Back-end/HumanResourcesManagement/HumanResourcesManagement/bin/Debug

/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

