
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }
    .form-header {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
      }
      
    
    .login-container {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      max-width: 400px;
      margin: 0 auto;
      margin-top: 200px;
      min-height: 300px;
   
    }

    .login-bg {
        background-image: url('https://www.pace.edu.vn/uploads/news/2023/04/2-vai-tro-cua-giam-doc-nhan-su.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0;
        padding: 0;
      }
      .form-footer {
        text-align: center;
        margin-top: 1rem;
      }
      
      .forgot-password {
        color: #2d0fd8;
        font-size: 0.9rem;
        text-decoration: none;
      }
      
      .forgot-password:hover {
        color: #333;
      }
    
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
    }
    
    button:hover {
      background-color: #45a049;
    }
