/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


body {
    /* font-family: Arial, sans-serif; */
    background-color: #f2f2f2;
  }
  .form-header {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
      
    }
    
  
  .change-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;

 
  }

  .change-bg {
      background-image: url('https://www.pace.edu.vn/uploads/news/2023/04/2-vai-tro-cua-giam-doc-nhan-su.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      margin: 0;
      padding: 0;
    }
    .form-footer {
      text-align: center;
      margin-top: 1rem;
    }
    
    .forgot-password {
      color: #2d0fd8;
      font-size: 0.9rem;
      text-decoration: none;
    }
    
    .forgot-password:hover {
      color: #333;
    }
  
  input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  button:hover {
    background-color: #45a049;
  }


  