<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0; url='https://localhost:7141/api/PasswordReset/reset-password?token=2bf73785-44c9-451b-8d85-570d025101ad'" />
</head>
<body>
    <p>Redirecting...</p>
    <a href="https://localhost:7141/api/PasswordReset/redirect.html">Click here</a>

    <script>
        // Nếu người dùng không được chuyển hướng tự động, chúng ta có thể làm điều đó bằng JavaScript
        window.location.href = '/resetPassword.html?token=2bf73785-44c9-451b-8d85-570d025101ad';
    </script>
</body>
</html>
